/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
@media (max-width: 767px) {
    .welcome-note {
        display: none;
    }
    p.about-us {
        font-size: small;
    }
    img{
        margin-left: 5% !important;
    }
    button.btn.logoutBtn{
       margin-top: -40px !important;
    }
    .card-container.card{
        margin-left: 5% !important;
    }
    div.row{
        margin-top: -10%;
    }
}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #f7f7f7 !important;
    font-family: Georgia, serif !important;
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
}
.container{
    /*padding: 50px;*/
}
.navbar-default {
    /*padding: 50px;*/
    /*background: coral;*/
    /*-webkit-box-shadow: 2px 2px 15px 0px rgba(42, 50, 50, 0.75);*/
    /*-moz-box-shadow:    2px 2px 15px 0px rgba(42, 50, 50, 0.75);*/
    /*box-shadow:         2px 2px 15px 0px rgba(42, 50, 50, 0.75);*/
    border: none !important;
    background-color: white !important;
    /*margin-left: -8%;*/
    /*margin-right: -2%;*/
    height: 20%;
}
img{
    width: 50%;
    margin-left: 49%;
    margin-top: 8%;
}

.card-container.card {
    max-width: 400px;
    margin-left: 30%;
    /*padding: 40px 40px;*/
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
button.btn.logoutBtn{
    float: right;
    color: white;
    margin-right: 6%;
    margin-top: 3%;
    background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(50%, rgba(128,0,0,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(255,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#FF0000',GradientType=1 ); /* ie6-9 */

}
/*
 * Card component
 */
.card {
    background-color: white;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    /*margin: 0 auto 25px;*/
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}
.athena-info-container {
    margin-top: 15%;
    text-align: center;
    color: gray;
    position: absolute;
 }
.profile-img-card {
    width: 96px;
    /*height: 96px;*/
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 250%;
}

.welcome-note{
    margin: 0 auto 10px;
    color:gray;
    text-align: center;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin:hover,.btn.btn-signin, .btn.google-signin, .btn.linkedIn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(244, 101, 66);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 90%;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-google:hover,
.btn.btn-google{
    color:#fff;
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2)
}

.btn.btn-linkedin:hover,
.btn.btn-linkedin{
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
.info{
    /*font-family: "Courier New" ;*/
    font-size: 240%;
    color: #000000;
}
.about-us{
    font-size: 140%;
    /*padding: 120% 125% 130%;*/
}
.or {
    text-align: center;
    margin-top: -4%;
}