<div *ngIf="auth.authenticated()">

  <div clas="underline">
      <h3 class="welcomeNote">
          Welcome {{userName}} to the Athena Systems!
      </h3>
  </div>
<div id="search_block" class="panel-body">
    <form role="form" class="form-horizontal" method="" action="">
        <span>
                <h4 style="margin-bottom:2%"> Enter data to search info  </h4>

        </span>
        <div class="form-group">
            <div class="col-xs-8 col-sm-8 col-md-2" id="filters">
                <select class="form-control" name="section_id">
                    <option disabled selected value> Select value</option>
                    <option>Di</option>
                    <option>Dr</option>
                    <option>E</option>
                    <option>O</option>
                </select>
            </div>
            <span class="btn col-xs-2 col-sm-2 col-md-1" role="button" aria-disabled="true">Contains</span>
            <div class="col-xs-8 col-sm-8 col-md-2">
                <input class="form-control" id="inputdefault" type="text">
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">Yes</label>
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">No</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-8 col-sm-8 col-md-2" id="filters">
                <select class="form-control" name="section_id">
                    <option disabled selected value>Select value</option>
                    <option>Di</option>
                    <option>Dr</option>
                    <option>E</option>
                    <option>O</option>
                </select>
            </div>
            <span class="btn col-xs-2 col-sm-2 col-md-1" role="button" aria-disabled="true">Contains</span>
            <div class="col-xs-8 col-sm-8 col-md-2">
                <input class="form-control" id="inputdefault" type="text">
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">Yes</label>
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">No</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-8 col-sm-8 col-md-2" id="filters">
                <select class="form-control" name="section_id">
                    <option disabled selected value>Select value</option>
                    <option>Di</option>
                    <option>Dr</option>
                    <option>E</option>
                    <option>O</option>
                </select>
            </div>
            <span class="btn col-xs-2 col-sm-2 col-md-1" role="button" aria-disabled="true">Contains</span>
            <div class="col-xs-8 col-sm-8 col-md-2">
                <input class="form-control" id="inputdefault" type="text">
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">Yes</label>
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">No</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-8 col-sm-8 col-md-2" id="filters">
                <select class="form-control" name="section_id">
                    <option disabled selected value> Select value</option>
                    <option>Di</option>
                    <option>Dr</option>
                    <option>E</option>
                    <option>O</option>
                </select>
            </div>
            <span class="btn col-xs-2 col-sm-2 col-md-1" role="button" aria-disabled="true">Contains</span>
            <div class="col-xs-8 col-sm-8 col-md-2">
                <input class="form-control" id="inputdefault" type="text">
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">Yes</label>
            </div>
            <div class="radio col-xs-2 col-sm-2 col-md-1">
                <label><input type="radio" name="optradio">No</label>
            </div>
        </div>
        <button type="submit" class="SearchBtn">Search</button>
    </form>
</div>
